.datepicker {
  width: 100% !important;
}


.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  /* overflow: hidden; */
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.error {
  margin-top: 6px;
  margin-bottom: 10px;
  color: #ff0000 !important;  
  display: block;
  white-space: pre-line;
}